/linux
/SQL/.ipynb_checkpoints
/project_nb_templates/.ipynb_checkpoints
/R_notes/.ipynb_checkpoints
/analysis_and_machine_learning/.ipynb_checkpoints
/probability_and_statistics/.ipynb_checkpoints
/python_ds_and_algorithms/.ipynb_checkpoints
